<h1>Create A New Post</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :title, placeholder: "Name Of Item" %>
  <%= f.text_field :description, placeholder: "Description" %>
  <%= f.text_field :url, placeholder: "Url" %>

  <!-- build is used with relationships/associations -->
  <%= f.fields_for :comments, @post.comments.build do |b| %>
  <%= b.text_field :description, placeholder: "New Comment: " %>
  <% end %>
  <%= f.submit %>

<% end %>

